/* Estilo pagina completa */
body{
    background-color: #f0f8ff;
    font-family: 'Manrope', sans-serif;
}
/* Estilo encabezado*/
/*
#titulo {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b2b45;
    font: bold;
    color: #f0f8ff;
}*/

#map {
    width: 80%; /* Adjust the width of the map as needed */
    height: 80vh; /* Adjust the map height as needed */
    float: right;
    margin: 20px;
}

/* Style for the filters box on the left */

.bloque{
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    flex: 1;
}

#filters {
    width: 15%; /* Adjust the width of the filters box as needed */
    height: 80vh; /* Match the map height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DEC1E0;
    float: left;
    margin: 10px;
    border-style: none;
    border-radius: 20px;
    color: black;
}
/* Parte bajo el mapa*/
#titulo {
    background-color: #DEC1E0;
    color: black;
    padding: 20px;
    clear: both;
    text-align: center;
}

#sub{
    text-align: center;
    padding: 10px;
    text-size-adjust: 30px;
}
    