/* Estilo pagina completa */
body{
    background-color: #f0ced1;
    font-family: 'Manrope', sans-serif;
}
/* Estilo encabezado*/
/*
#titulo {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b2b45;
    font: bold;
    color: #f0f8ff;
}*/
#section1{
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f0ced1;
    margin: 0;
}

#section2{
    height: 100vh;
    background-color: white;
    margin: 0;
}

/* Left sidebar for filters (15%) */
#filters {
    flex: 20%; /* 15% of the available width */
    background-color: #ffff;
    float: left;
    border-style: none;
    border-radius: 20px;
    color: black;
    height: 70%; /* Adjust the height as needed */
    align-self: center;
    margin: 2px 1px;
}

.content{
    padding: 20px;
    height: 150 px;
    display: flex;
    flex-direction: column;
}

/* Right section for the map (85%) */
#map {
    flex: 85; /* 85% of the available width */
    background-color: #ddd; /* Adjust styling as needed */
}


/* Parte bajo el mapa*/
#titulo {
    background-color: #DEC1E0;
    color: black;
    padding: 20px;
    clear: both;
    text-align: center;
}

#sub{
    text-align: center;
    padding: 10px;
    text-size-adjust: 30px;
}
    